<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendMessageToUser_View</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .contentBox {
            width: 50%;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: solid 1px skyblue;
        }

        .errorInfo {
            border: solid 1px skyblue;
        }

        .contentBox TextArea {
            max-height: 300px;
            max-width: 50%;
        }
    </style>
</head>
<body>
    <div class="contentBox">
        <form action="SendMessageToUser" method="post">
            @Html.TextArea("content")
            <button type="submit">发送</button>
        </form>
        <div class="errorInfo">
            @ViewBag.errorInfo
        </div>
    </div>
</body>
</html>
